streamlit==1.24.0 streamlit_shadcn_ui  # For UI components using the streamlit_shadcn_ui package
pandas==2.1.1  # For data manipulation (Titanic dataset)
scikit-learn==1.3.0  # For machine learning models
mlxtend==0.22.0  # For Apriori algorithm and association rules
numpy==1.24.3  # Required by scikit-learn and other packages
pickle5  # For loading and saving models using pickle
